v-card.order
    v-dialog(
        v-model="deleteDialog"
        max-width="330"
    )
        v-card.remove-card
            form(@submit.prevent="deleteOrder()")
                v-card-title {{$vuetify.lang.t(`$vuetify.modals.delete.text`)}}
                .delete-actions
                    v-btn.white--text(
                        @click.native="deleteDialog = false"
                        color="red"
                    ) {{$vuetify.lang.t(`$vuetify.buttons.cancel`)}}
                    v-btn(
                        type="submit"
                        color="primary"
                    ) {{$vuetify.lang.t(`$vuetify.buttons.delete`)}}
    .main-info
        span № {{order.orderId}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.pizza`)}}: {{ order.pizza && order.pizza.name }}
        span(v-if="order.additionalIngredients.length") {{$vuetify.lang.t(`$vuetify.pages.Orders.order.additional`)}}: {{order.additionalIngredients.join(', ')}}
        span.order-status(:class="{'processing': order.order.status === 'processing'}") {{$vuetify.lang.t(`$vuetify.pages.Orders.order.states.${order.order.status}`)}}
        v-icon.open-details(
            @click="showDetails = !showDetails"
            small
        ) {{detailsIcon}}
        span.timer(:class="{'old-order': !isNewOrder, 'new-order': isNewOrder}") {{timeAfterCreate}}

    .details(v-if="showDetails")
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.name`)}}: {{order.order.client.name}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.phone`)}}: {{order.order.client.phone}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.createdAt`)}}: {{order.order.createdAt | formatDate}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.price`)}}: {{order.sum}}
        .actions
            v-icon(@click="deleteDialog = true").delete mdi-delete
