v-dialog(v-model="createDialog" persistent max-width="600px")
    v-card.order-details
        form(@submit.prevent="create()")
            v-card-title.form-title
                span.headline {{ $vuetify.lang.t(`$vuetify.pages.Orders.createOrder.title`) }}
            v-card-title
                span.headline {{$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.clientDetails`)}}
            v-card-text.client-details
                v-container
                    .user-name
                        v-text-field(
                            v-model="order.name"
                            :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.name`)"
                            :error-messages="getValidateMessage('Orders', 'order.name', 'createOrder.name')"
                            prepend-icon="mdi-account-card-details"
                            outlined
                        )
                        v-text-field(
                            v-model="order.surname"
                            :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.surname`)"
                            :error-messages="getValidateMessage('Orders', 'order.surname', 'createOrder.surname')"
                            outlined
                        )
                    v-text-field(
                        v-model="order.phone"
                        :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.phone`)"
                        :error-messages="getValidateMessage('Orders', 'order.phone', 'createOrder.phone')"
                        v-mask="'+380-###-###-###'"
                        hint="+380123456789"
                        placeholder="+380"
                        prepend-icon="mdi-cellphone"
                        outlined
                    )
                    v-autocomplete(
                        :no-data-text = "$vuetify.lang.t('$vuetify.autocomplete.noData')"
                        :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.cityName`)"
                        :error-messages="getValidateMessage('Orders', 'order.cityName', 'createOrder.cityName')"
                        v-model="order.cityName"
                        :items="cities"
                        item-text="name"
                        prepend-icon="mdi-city"
                    )
                    .street
                        v-text-field(
                            :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.street`)"
                            v-model="order.street"
                            prepend-icon="mdi-map-marker"
                        )
                        v-text-field(
                            v-model="order.houseNumber"
                            :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.houseNumber`)"
                        )
            v-divider
            v-card-title.orders-header
                span.headline {{$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.orderDetails`)}}
            v-card-text.order-details
                v-container(v-for="i in pizzasCount" :key="i")
                    v-card-title(v-if="pizzasCount > 1").order-number № {{i}}
                    v-pizza(
                        :isModalOpened="createDialog"
                        :index="i"
                        :ref="`pizza_${i}`"
                        @addPizzaToOrder="addPizzaToOrder($event)"
                    )
                    v-divider
                .add-order-wrapper(:class="{'justify-right': !totalPrice}")
                    span(v-show="totalPrice").add-order-wrapper__total-price {{$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.totalPrice`)}}: {{totalPrice}} &#8372
                    .add-order-wrapper__actions
                        v-btn(
                            v-if="pizzasCount > 1"
                            @click="pizzasCount--"
                            color="red"
                            outlined
                            rounded
                            icon
                        )
                            v-icon mdi-minus
                        v-btn.add-order-btn(
                            @click="pizzasCount++"
                            color="primary"
                            outlined
                            rounded
                        )
                            v-icon mdi-plus
                            span {{$vuetify.lang.t(`$vuetify.buttons.add`)}}

            v-card-actions
                v-btn.cancel-button(color="red" @click="closeCreateDialog()").white--text {{$vuetify.lang.t(`$vuetify.buttons.cancel`)}}
                v-spacer
                .order-create-buttons
                    v-btn(color="orange" @click="calculateOrder()" :disabled="!orderPizzas[0]" :loading="loading") {{$vuetify.lang.t(`$vuetify.buttons.calculate`)}}
                    v-btn(color="primary" type="submit" :disabled="!calculatedOrder") {{$vuetify.lang.t(`$vuetify.buttons.create`)}}
