main.auth
    .v-container
        .auth-wrapper
            v-card.elevation-12.login
                v-toolbar(color="blue darken-1")
                    v-toolbar-title {{$vuetify.lang.t(`$vuetify.pages.Login.form.title`)}}
                v-card-text
                    v-form(@submit.prevent="submit()")
                        v-text-field(
                            :label="$vuetify.lang.t(`$vuetify.pages.Login.form.login`)"
                            name="login"
                            prepend-icon="mdi-account"
                            type="text"
                            v-model="login"
                            :error-messages="getValidateMessage('Login', 'login', 'login')"
                            required
                        )

                        v-text-field#password(
                            :label="$vuetify.lang.t(`$vuetify.pages.Login.form.password`)"
                            name="password"
                            prepend-icon="mdi-lock"
                            type="password"
                            v-model="password"
                            :error-messages="getValidateMessage('Login', 'password')"
                            required
                        )

                v-card-actions
                    v-spacer
                    v-btn(
                        type="submit"
                        color="primary"
                    ) {{$vuetify.lang.t(`$vuetify.pages.Login.form.signIn`)}}
