.v-container
    v-dialog(
        v-model="deleteDialog"
        max-width="330"
    )
        v-card.remove-card
            form(name="removeFeed" @submit.prevent="deletePizza()")
                v-card-title {{$vuetify.lang.t(`$vuetify.modals.delete.text`)}}
                .delete-actions
                    v-btn(
                        @click.native="deleteDialog=false"
                        color="red"
                    ).white--text {{$vuetify.lang.t(`$vuetify.buttons.cancel`)}}
                    v-btn(
                        type="submit"
                        color="primary"
                    ) {{$vuetify.lang.t(`$vuetify.buttons.delete`)}}
    .pizzas-wrap
        v-card.pizza-card(v-for="(item, index) in pizzas" :key="item.id")
            v-img(src="/img/donuts.jpg")
            v-card-title.main-title
                span.name {{ item.name }}
                span.price {{ item.price }} z&#322
            v-divider
            v-card-title {{$vuetify.lang.t(`$vuetify.pages.Menu.ingredients`)}}
            v-card-text
                v-chip-group(
                    center-active
                    active-class="primary"
                    show-arrows
                    mandatory
                )
                    v-chip(
                        v-for="key in item.ingredients"
                        :key="key"
                        small
                    ) {{ key }}
            v-divider
            v-card-title {{$vuetify.lang.t(`$vuetify.pages.Menu.parameters`)}}
            v-card-text
                v-card-subtitle.weight
                    span.mark &#9737 {{$vuetify.lang.t(`$vuetify.pages.Menu.weight`)}}:
                    span {{ item.weight }}
                v-card-subtitle.size
                    span.mark &#9737 {{$vuetify.lang.t(`$vuetify.pages.Menu.size`)}}:
                    span {{ item.size }}
            v-divider
            v-card-actions.actions(v-if="type === 'admin'")
                v-btn(
                    @click="openDeleteDialog(item)"
                    color="red"
                    outlined
                    small
                    tile
                )
                    v-icon(left) mdi-delete
                    span {{$vuetify.lang.t(`$vuetify.buttons.delete`)}}
                v-btn(
                    @click="goToEditor(item)"
                    color="success"
                    outlined
                    small
                    tile
                )
                    v-icon(left) mdi-pencil
                    span {{$vuetify.lang.t(`$vuetify.buttons.edit`)}}
    .plus
        v-btn(to="/menu/pizza/create" fab color="primary" v-if="type === 'admin'").mx-2
            v-icon(dark large) mdi-plus
